/* #container-flex{
    display: inline-flex;
    border-radius: 9px;
    background-color: #f1efef;
    padding: 8px;
    width: 92%;
    margin-bottom: 2%;
} */
#Foto-fit{
    width: 22rem;
    height: 11rem;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
}
#text-fit{
    margin-left: 15%;
    font-weight: bold;
    margin-top: 2%;
}
#cont-fit{
    background-color: #f1efef;
    border-radius: 10% 10% 0 0;
    width: 100%;
}