/* #container-flex{
    display: inline-flex;
    border-radius: 9px;
    background-color: #f1efef;
    padding: 8px;
    width: 92%;
    margin-bottom: 2%;
} */
#Foto-fit{
    width: 18rem;
    height: 9rem;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
}
#text-fit{
    margin-left: 23%;
    margin-top: 4%;
}
/* #cont-fit{
    background-color: #f1efef;
    margin-top: 3%;
    border-radius: 10% 10% 0 0;
} */