#container-flex{
    display: inline-flex;
    border-radius: 9px;
    background-color: #f1efef;
    padding: 8px;
    width: 92%;
    margin-bottom: 2%;
}
#Foto-fit{
    width: 86%;
    height: 100%;
    margin-left: 13%;
}
#text-fit{
    display: grid;
    font-size: 14px;
    font-weight: 700;
}